<header class="header">
    <div class="header-container">
      <div class="logo">
        <h1>MH PHONE STORE</h1>
      </div>
      <nav class="navigation">
        <ul>
          <li><a routerLink="phonelist">Home</a></li>
          <li><a routerLink="about">About</a></li>
          <li><a routerLink="offerlist">Services</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </nav>
      <div class="search-bar">
        <input type="text" placeholder="Search...">
      </div>
    </div>
  </header>
  