<div class="profile-container">
    <div class="profile-header">
      <div class="profile-picture">
        <img src="https://scontent.ftun14-1.fna.fbcdn.net/v/t39.30808-6/420169445_932459455180931_8414663738957555852_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=k_tyMp4uXuUQ7kNvgEIVxue&_nc_ht=scontent.ftun14-1.fna&cb_e2o_trans=t&gid=AhuL2CVZFK2nW70n5U-Xesp&oh=00_AYCFRrOFvMRRZjciA0pZpZSfn6IceFn_r1_OuJtm3r7YBw&oe=66AFED25" alt="Profile Picture">
      </div>
      <div class="profile-info">
        <h1>MOHAMED MAHDHI</h1>
        <p class="title">Second Year Student</p>
      </div>
    </div>

    <div class="profile-details">
      <h2>Details</h2>
      <p><strong>Studies:</strong> TECHNOLOGIE INFORMATIQUE</p>
      <p><strong>University:</strong> ISET MAHDIA</p>
      <p><strong>Birthday:</strong> SEPT 6, 2002</p>
      <p><strong>Skills:</strong></p>
      <ul>
        <li>JavaScript</li>
        <li>Angular</li>
        <li>React</li>
        <li>Node.js</li>
      </ul>
      <p><strong>Hobbies:</strong></p>
      <ul>
        <li>Photography</li>
        <li>Traveling</li>
        <li>Reading</li>
        <li>Cooking</li>
      </ul>
      <button (click)="onVa()"> GO TO STORE </button>
    </div>
  </div>
